.searcharea{
    display: flex;
    max-height: 20em;
    .trendtopics {
        width: 40%;
        padding-top: 3%;
        #trendtopicid::-webkit-scrollbar {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            width: 5px;
            background-color: white;
        }
        #trendtopicid::-webkit-scrollbar-thumb {
            background-color: black;
        }
    }
    .middlesection{
        .description {
            font-size: 350%;
            display: flex;
            font-family: 'Permanent Marker', cursive;
            justify-content: center;
        }
        .searchfield{
            display: flex;
            justify-content: center;
        }
        .searchbuttons {
            display: flex;
            justify-content: center;
            .bttn {
                margin : 1em 0.5em;
                justify-content: right;
        }
      }
    }
    
}
