.searcharea{
    display: flex;
    max-height: 20em;
    justify-content: center;

    .trendtopics {
        width: 20%;
        margin-top: 2%;
        margin-bottom: 2%;

        .trendtopicheader {
            font-size: 180% !important;
            text-align: center !important;
            font-family: 'Permanent Marker', cursive !important;
            color: black !important;
        }
        #trendtopicid {
            max-height: 8em;
            overflow: auto; 
            transform: scaleX(-1);
            float: none;
            width: 20em;
            margin-left: auto;
            margin-right: auto;

        }
        .trendtopiclistitems {
            transform: scaleX(-1);
        }
        #trendtopicid::-webkit-scrollbar {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            width: 5px;
            background-color: white;
        }
        #trendtopicid::-webkit-scrollbar-thumb {
            background-color: black;
        }
    }
    .middlesection{
        width: 40%;
        margin:0 2% 0 %2;

        .description {
            margin: 1%;
            font-size: 350%;
            display: flex;
            font-family: 'Permanent Marker', cursive;
            justify-content: center;
            text-align: center;
        }
        .searchfield{
            margin: 1%;
            display: block;
            justify-content: center;
            text-align: center;
            .textField {
                margin: 1%;
            }
            .searchbuttons {
                display: flex;
                justify-content: center;
                .bttn {
                    margin : 0.5em 0.5em;
                    justify-content: right;
                }
            }
        }

    }
    
}


@media only screen and (max-width: 800px) {
    .searcharea{
        display: flex;
        max-height: 20em;
        justify-content: center;
        .trendtopics {
            .trendtopicheader {
                font-size: 80% !important;
                padding-left: 0px !important;
            }
            #trendtopicid {
                width: auto !important;
                span {
                    font-size: 50% !important;
                }
                
            }
        }
    .middlesection{
        .description {
            font-size: 200% !important;
        }
        .searchfield{
            .textField {
                width: 100px !important;
                input {
                    font-size: 10px !important;
                }
            }
            label {
                font-size: 12px !important;
            }
            .searchbuttons {
                .bttn {
                    min-width: 30px !important;
                    max-width: 60px !important;
                }
                .bttn{
                    button {
                        div {
                            div {
                                span {
                                    text-align: center !important; 
                                    padding-left: 5px !important;
                                    padding-right: 5px !important;
                                    font-size: 10px !important;
                                }
                            }

                        }

                    }
                }
                .bttn{
                    button {
                        div {
                            span {
                                text-align: center !important;
                                padding-left: 5px !important;
                                padding-right: 5px !important;
                                font-size: 10px !important;
                            }
                        }
                    }
                }

            }
        }
        
    }
    }
}


