.board {
    .fab {
        color: black !important;
    }

    .material-icons {
        color: black !important;   
    }
    .board1 {
        display: flex;
        justify-content: center;
        margin: 1em 10em;
    }
    .board2 {
        display: flex;
        justify-content: center;
        margin: 1em 10em;
    }
    #worldmap {
        width: 100%;
        height: 700px;
        margin-top: 2%;

    }

  
    .tweetpanel {
        margin: 2em 1em 2em 1em;
        $table-header-font-weight:      400;
        $table-header-font-color:       #757575;

        $table-cell-padding:            1.6rem;
        $table-condensed-cell-padding:  $table-cell-padding/2;


        $table-bg:                      #fff;
        $table-bg-accent:               #f5f5f5;
        $table-bg-hover:                rgba(0,0,0,.12);
        $table-bg-active:               $table-bg-hover;
        $table-border-color:            #e0e0e0;
        @mixin transition($transition){
            -webkit-transition: $transition;
                 -o-transition: $transition;
                    transition: $transition;
          }
        .tweetpanel_paper {
            div div:nth-child(2){
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 50em;
            }
            div div:nth-child(2)::-webkit-scrollbar {
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                width: 8px;
                background-color: white;
            }
            div div:nth-child(2)::-webkit-scrollbar-thumb {
                background-color: black;
            }
            .tableHeader {
                th:nth-child(1){
                    width: 10%;
                }
                th:nth-child(2){
                    text-align: center !important;
                    width: 70%;
                }
                th:nth-child(3){
                    width: 10%;
                }
                th:nth-child(4){
                    width: 10%;
                }
                
            }
            .tweetpanel_body {
                tr:hover {
                      background-color:  rgba(0,0,0,.12);
                }
                tr {
                    td {
                        padding: 1.6rem;
                    }
                    td:nth-child(1){
                        width: 10%;
                    }
                    td:nth-child(2){
                        width: 70%;
                    }
                    td:nth-child(3){
                        width: 10%;
                    }
                    td:nth-child(4){
                        width: 10%;
                    }
                }
                        
            }
            
        
            
        }
       
        
    }
    .chart {
        height: 25em;
        width: 20em;
        margin: 1em 10em;
        .description {
            font-size: 200%;
            font-family: Roboto, sans-serif;
        }
    }
    .customtab {
        background-color: white !important;
        color: black !important;
    }


}
@media only screen and (max-width: 1200px) {
    .board {
        .tabs {
            .customtab {
                font-size: 12px !important;
            }
        }
        #worldmap {
            
                height: 500px !important;

            
          
        }
        .tweetpanel {
            #tweetpanel_paper {
                .tableHeader {
                    th {
                        font-size: 9px !important;
                    }
                    th:nth-child(1){
                        width: 15%;
                    }
                    th:nth-child(2){
                        text-align: center !important;
                        width: 55%;
                    }
                    th:nth-child(3){
                        width: 15%;
                    }
                    th:nth-child(4){
                        width: 15%;
                    }
                    
                }
                .tweetpanel_body {
                    tr:hover {
                          background-color:  rgba(0,0,0,.12);
                    }
                    tr {
                        td {
                            padding: 1rem;
                        }
                        td:nth-child(1){
                            width: 15%;
                        }
                        td:nth-child(2){
                            width: 55%;
                        }
                        td:nth-child(3){
                            width: 15%;
                        }
                        td:nth-child(4){
                            width: 15%;
                        }
                    }
                            
                }
                div{
                    div{
                        table {
                            tbody {
                                tr {
                                    td {
                                        font-size: 12px !important;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }

            




}


@media only screen and (max-width: 800px) {
    .board {
        .tabs {
            .customtab {
                font-size: 10px !important;
            }
        }
        #worldmap {
                height: 300px !important;
            
        }
        .tweetpanel {
            #tweetpanel_paper {
                .tableHeader {
                    th {
                        font-size: 8px !important;
                    }
                    th:nth-child(1){
                        width: 20%;
                    }
                    th:nth-child(2){
                        text-align: center !important;
                        width: 40%;
                    }
                    th:nth-child(3){
                        width: 20%;
                    }
                    th:nth-child(4){
                        width: 20%;
                    }
                    
                }
                .tweetpanel_body {
                    tr:hover {
                          background-color:  rgba(0,0,0,.12);
                    }
                    tr {
                        td {
                            padding: 0.5rem;
                        }
                        td:nth-child(1){
                            width: 20%;
                        }
                        td:nth-child(2){
                            width: 40%;
                        }
                        td:nth-child(3){
                            width: 20%;
                        }
                        td:nth-child(4){
                            width: 20%;
                        }
                    }
                            
                }
                div{
                    div{
                        table {
                            tbody {
                                tr {
                                    td {
                                        font-size: 8px !important;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }

            




}

