.board {
    .fab {
        color: black !important;
    }

    .material-icons {
        color: black !important;   
    }
    .board1 {
        display: flex;
        justify-content: center;
        margin: 1em 10em;
    }
    .board2 {
        display: flex;
        justify-content: center;
        margin: 1em 10em;
    }
    .tweetpanel {
        .tweettable {
            .head{  
                font-size: 150%;
                font-family: Roboto, sans-serif;
            }
            .row {
                border-top: 1px solid rgba(0,0,0,.06);
                border-left: 0 none;
                border-right: 0 none;
                display: table-cell;
                vertical-align: top;
            }
        }
    }
    .chart {
        height: 25em;
        width: 20em;
        margin: 1em 10em;
        .description {
            font-size: 200%;
            font-family: Roboto, sans-serif;
        }
    }
    .customtab {
        background-color: white !important;
        color: black !important;
    }


}

